@model Catalog_films_test.Models.Film



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Постер</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Режисер</th>
            <th scope="col">Год</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">@Model.Id</th>
            <td>
                <div class="text-center">
                    <img src="@Model.UrlImage" class="rounded" alt="..." width="160" height="213">
                </div>
            </td>
            <td>@Model.Name</td>
            <td>@Model.Description</td>
            <td>@Model.Producer</td>
            <td>@Model.Yers</td>
        </tr>



    </tbody>
</table>
@if (ViewBag.Owner == true) 
{ 
<a class="btn btn-primary btn-lg active" asp-controller="Film" asp-action="Edit" asp-route-id="@Model.Id" role="button">Редактировать фильм</a>
}