@model IndexViewModel



<a class="btn btn-primary btn-lg active" asp-controller="Film" asp-action="Add" role="button">Добавить фильм.</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Постер</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Режисер</th>
            <th scope="col">Год</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Film u in Model.Films)
        {
            <tr>
                <th scope="row">@u.Id</th>
                <td>
                    <div class="text-center">
                        <a asp-controller="Film" asp-action="Details" asp-route-id="@u.Id"> <img src="@u.UrlImage" class="rounded" ></a>
                    </div>
                </td>
                <td><a asp-controller="Film" asp-action="Details" asp-route-id="@u.Id">@u.Name</a></td>
                <td>@u.Description</td>
                <td>@u.Producer</td>
                <td>@u.Yers</td>
            </tr>
        }


    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}